@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Shadows+Into+Light&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar  */

nav.navbar {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
nav.navbar #title {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

nav.navbar .container-fluid .navbar-brand {
  display: flex;
  align-items: center;
}

nav.navbar .container-fluid .navbar-brand a {
  margin-left: 15px;
}

.navbar-username {
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Banner */

.banner {
  margin-top: 50px;
  height: 100vh;
  width: 100%;
  background-image: url(./img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.banner .banner-left {
  display: inline-block;
  width: 50%;
  background: transparent;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
}

.banner .banner-left #banner-left-img {
  height: 250px;
  width: 500px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.banner .banner-left h4 {
  font-size: 16px;
  font-weight: 700;
}
.banner .banner-right {
  display: inline-block;
  padding: 80px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  background: transparent;
}

.banner .banner-right .signInFormCantainer {
  background-color: white;
  height: 400px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0px 40px 80px 0px rgba(0, 0, 0, 0.3);

  padding: 10px;
}
.banner .banner-right .signInFormCantainer h3 {
  text-align: center;
}
.banner .banner-right .signInFormCantainer .signInForm {
  margin: 25px;
}
.banner .banner-right .signInFormCantainer label {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.banner .banner-right .signInFormCantainer input {
  width: 100%;
  padding: 2px;
}

.banner .banner-right .signInFormCantainer input#password {
  margin-bottom: 20px;
}

.banner .banner-right .signInFormCantainer p {
  font-size: 11px;
}

.banner .banner-right .signInFormCantainer .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .banner-right .signInFormCantainer .newAccountContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner .banner-right .signInFormCantainer .newAccountContainer a {
  text-decoration: none;
  font-size: 13px;
}

.banner2 {
  padding: 50px;
}

.banner2 h1 {
  font-size: 30px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  /* font-family: "Shadows Into Light", cursive; */
}

.banner3 {
  width: 100%;
  height: 400px;
  background-image: url(./img/banner3.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner3 img {
  width: inherit;
  height: inherit;
}

/* signUp  */

.banner .banner-right .signUpFormCantainer {
  background-color: white;
  height: 500px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0px 40px 80px 0px rgba(0, 0, 0, 0.3);

  padding: 10px;
}
.banner .banner-right .signUpFormCantainer h3 {
  text-align: center;
}
.banner .banner-right .signUpFormCantainer .signInForm {
  margin: 25px;
}
.banner .banner-right .signUpFormCantainer label {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.banner .banner-right .signUpFormCantainer input {
  width: 100%;
  padding: 2px;
}

.banner .banner-right .signUpFormCantainer input#password {
  margin-bottom: 20px;
}

.banner .banner-right .signUpFormCantainer p {
  font-size: 11px;
}

.banner .banner-right .signUpFormCantainer .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .banner-right .signUpFormCantainer .newAccountContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner .banner-right .signUpFormCantainer .newAccountContainer a {
  text-decoration: none;
  font-size: 13px;
}

/* dashboard */

.dashboard-container {
  display: flex;
  width: 100%;
  padding-top: 70px;
}

/* aside */

.aside-container {
  width: 20%;
  margin: 2px;
  background-color: #5fbdff;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  height: 89vh;
  padding: 10px;
}
.aside-signOutBtn {
  background-color: black;
  color: white;
  margin-bottom: 10px;
  text-align: center;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.aside-signOutBtn:hover {
  background-color: rgb(190, 114, 114);
  color: white;
}
.aside-FeedBtn {
  background-color: black;
  color: white;
  margin-bottom: 10px;
  text-align: center;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.aside-FeedBtn:hover {
  background-color: grey;
  color: white;
}
/* main container */

.main-container {
  background-color: #f5f5f5;
  width: 80%;
  height: 89vh;
  margin: 2px;
  padding: 10px;
  overflow-y: auto;
}

.addbtn {
  display: flex;
  background-color: #5fbdff;
  position: absolute;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: white;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  text-align: center;
}

/*  project item */

.projectItem {
  margin-bottom: 5px;
  background-color: white;
  width: 100%;
  height: 40vh;
  border-radius: 5px;
  padding: 10px;
}

.projectItem #name {
  color: rgb(66, 65, 65);
}
.projectItem #name i {
  margin: 2px;
}
.projectItem #name #username {
  display: inline;
}

.projectItem p a {
  margin-left: 5px;
  margin-right: 5px;
}

#add-btn {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

#project-controls {
  display: flex;
  justify-content: flex-end;
}
#project-controls #edit {
  display: inline;
  margin-right: 30px;
}

#project-controls #trash {
  display: inline;
}

/* #Form {
  position: absolute;
  top: 100px;
  margin-top: 60px;
  margin-left: 20%;
  margin-right: 50%;
  padding: 50px;
  /* display: none; 
  background-color: red;
  background-color: rgb(136, 94, 94);

  width: 80vh;
  height: 60vh;
} */

#cancel div {
  color: white;
  /* background-color: black; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#cancel i:hover {
  color: red;
}

.hidden {
  display: none;
}
.show {
  display: block;
}

#Form label {
  color: white;
}

#Form #cancel {
  display: block;
}
